
/**************************************
 S: 변수
/**************************************/
:root {
    --vh: 1vh;
    --scrollWidth: 8px;
  }
  
/**************************************
 S: reset
/**************************************/
* {
	margin:0px; 
	padding:0px;
}

*,
::after,
::before {
  box-sizing: border-box;
}


body {
	font-size: 16px;
	font-family:  "Apple SD Gothic Neo", Roboto, "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif; 
	line-height:1.4;
	font-weight: 400;
	color: #222;
	/* word-break: keep-all;
    word-wrap: break-word; */
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none; /* for mobile 모바일에서  PC버전 보기 시(뷰포트가 변경되었을때) 폰트크기 변경되지 않도록 함*/
	-webkit-touch-callout: none; /* 모바일 요소 오래 클릭시 불필요한 현상 제거 */
	-webkit-overflow-scrolling: touch; /* 모바일에서 스크롤 후 손을 떼는 순간 스크롤이 멈출지, 부드럽게 멈출지 지정. auto 가 기본 */
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	min-height: calc((var(--vh) * 100)); 
}


body.has-modal {
  height: calc((var(--vh) * 100));
  /* overflow-y: hidden; // hidden은 움찔 거림이 있어 처리하지 않음. overflow: scroll; 상속받음 pc에서는 scroll 영역이 보이나. 모바일 에서는 보이지 않음.  */
  position: fixed;
  /* padding-right: var(--scrollWidth); // 스크롤 너비 */
}

div, p {
	text-align:justify; 
	word-wrap:break-word; 
	word-break:keep-all;
} 

h1, h2, h3, h4, h5, h6 {
	font-size:inherit;
	font-weight: bold;
}

b, strong {
  font-weight: 600;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* 영문 설정 */
.lang-en, :lang(en) { font: 12px/1.5 "Helvetica Neue", Helvetica, Verdana, Arial, Sans-Serief; }

hr {
  height: 0;
  border-bottom: 1px solid #dfe2e5;
}

ol,
ul {
  list-style: none;
}

blockquote, q { 
	quotes: none;
}

em,
address,
i {
  font-style: normal;
}

button,
select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input[type=button]  {
  border: 0;
  -webkit-appearance:none; /* iOS의 기본 스타일 제거*/
  appearance:none;
  background: transparent;
  color: #222;
  vertical-align: middle;;
}

button:not(:disabled) {
	cursor: pointer;
}

a {
	text-decoration:none; 
	color:#484747;
}

a:hover {
	text-decoration:underline;
	color:#484747;
}

textarea {
	width:100%; 
	resize:none; 
	border-radius:0; /* IOS radius 기본 스타일 제거 */
	overflow-y:auto; 	/* IE11이하 기본 스타일 제거 */
} 

table {
	/* table-layout: fixed; */
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}

td, th {
  padding: 0;
}

legend, .hidden {
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
}

/*caption을 position으로 숨기면 사파리에서 caption이 깨져 보이는 경우가 있어 position을 제외하고 숨김.*/
caption {
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	text-indent:-9999px
}

img {
  max-width: 100%;
}

img, fieldset { 
	vertical-align: middle;
  border:none;
}

input {
	box-sizing: border-box;
	vertical-align:top;
	text-indent:7px;
	font-size:14px;
	-webkit-appearance:none; /* input,input[type=button]{ -webkit-appearance:none; } iOS의 기본 스타일 제거*/
	-webkit-border-radius: 0;
	appearance:none;
	border:1px solid #e65d5d;
	color:#e65d5d;
	border-radius:0;
	font-family:'맑은 고딕','Apple SD Gothic Neo',DroidSans,Sans-serif,Helvetica;
	margin: 0;
  padding: 0;
}

input[type=text]::-ms-clear {
	display: none; /* input의 x 버튼 제거 for IE 또는  input::-ms-clear {display: none;} */
}  

input:-webkit-autofill {
	/*크롬브라우저에서 자동완성 기능이 작동할 때 input의 배경색이 변하는 현상 제거 */
   -webkit-box-shadow: 0 0 0 100px #fff inset;
   -moz-box-shadow: 0 0 0 100px #fff inset;
   box-shadow: 0 0 0 100px #fff inset;
}

input[type="search"] {
	-webkit-appearance: textfield; /*웹킷 기본 스타일 덮어쓰기*/
	appearance: textfield; 
	box-sizing: content-box;
}
 
/* input type="number" 기본 스타일 제거 */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
	appearance:textfield;
}
 
input:-ms-input-placeholder,
input::-moz-input-placeholder,
input::-webkit-input-placeholder,
input::placeholder {
	color:#e65d5d;
}

select::-ms-expand {
	display: none; /* selectbox 디자인 커스터마이징을 할 경우, select의 드랍버튼(화살표) 제거 for IE11*/
}

/* :active, :focus 가상클래스 아웃라인 설정 제거 */
:active, :focus {outline: 0;}


/* 텍스트를 선택했을때 bg컬러 및 폰트 컬러 변경 */
::selection,
::-moz-selection {
	background-color:#eee7dd;
	color:#666;
}

/* 스크롤바 */
::-webkit-scrollbar {
	width: 8px; 
  height: 10px;
  border: 4px solid #fff;
  transition: 0.4s;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
  height: 5px;
  background: #fff;
}

::-webkit-scrollbar-track {
		background: rgba(0,0,0,.05);
    border-radius:2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,.4);
}