@charset "UTF-8";
/* 공통 모듈 import */
/* 
* px -> rem 변환 1 
* 사용법:  toRem(12)
*/
/* 
* px -> rem 변환 2 
* 사용법:  rem(10px 5px)
*/
/* ellipsis 말 줄임 처리 */
/* before content */
/* Basic Colors */
/* bg Colors */
/* Component Colors */
/* font Colors */
/* font-weight */
/* padding */
/* margin */
/* border-radius */
/* font-family */
/* buttons */
button {
  border: 1px solid green;
}
button.icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}
button.icon::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url("/assets/images/icon_edit.svg") no-repeat center;
}

/* descriptions */
.desc-box {
  background: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px 16px;
  border-radius: 4px;
}

/* 폼요소 : input, radio, checkbox 등 */
/* headings */
h1 {
  font-size: 20px;
  color: green;
}

/* tables */