@charset "UTF-8";
/* 공통 모듈 import */
/* 
* px -> rem 변환 1 
* 사용법:  toRem(12)
*/
/* 
* px -> rem 변환 2
* 사용법:  rem(10)
*/
/* 
* px -> rem 변환 3
* 사용법:  rem(10px 5px)
*/
/* ellipsis 말 줄임 처리 */
/* before icon content */
/* 스크롤바 디자인 변경 사용:  @extend %scrollbar; */
.desc-box {
  scrollbar-color: #e6e6e6 #fff; /* firefox */
  scrollbar-width: thin; /* firefox */
}
.desc-box::-webkit-scrollbar-track {
  width: 46px;
}
.desc-box::-webkit-scrollbar {
  width: 18px; /* 스크롤바의 너비 */
  height: 18px;
}
.desc-box::-webkit-scrollbar-thumb {
  border-radius: 9px;
  border: solid 6px #fff;
  background-color: #d9d9d9;
}

/* 미디어쿼리 */
/* font-size */
/* Basic Colors */
/* bg Colors */
/* Component Colors */
/* font Colors */
/* font-weight */
/* page Layout */
/* padding */
/* margin */
/* border-radius */
/* font-family */
/* buttons */
button {
  border: 1px solid green;
}
button.icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}
button.icon::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url("/assets/images/icon_edit.svg") no-repeat center;
}

/* 공통 레이아웃  */
@media (max-width: 768px) {
  body {
    border: 4px solid red;
  }
}
@media (max-width: 1024px) {
  body {
    border: 4px solid green;
  }
}
@media (max-width: 1280px) {
  body {
    border: 4px solid blue;
  }
}
@media (min-width: 1281px) {
  body {
    border: 4px solid orange;
  }
}
/* descriptions */
.desc-box {
  background: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px 16px;
  border-radius: 4px;
}

/* 폼요소 : input, radio, checkbox 등 */
/* headings */
h1 {
  font-size: 1.5rem;
  padding: 1.0625rem 1.5rem 5rem 0;
  margin: 1.125rem 0 42rem;
  margin-bottom: 0.9375rem;
  border: 0.125rem solid red;
}

h1 {
  background-color: #004d00;
  border: 4px solid #ff6666;
}

.test {
  border: 2px solid #004d00;
}
.test h1 {
  background-color: #004d00;
  border: 1px solid #ff6666;
}

.test {
  border: 2px solid #004d00;
}

.pulse {
  animation-name: inline2-u4vxfo2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes inline2-u4vxfo2 {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

/* tables */