@use '../common' as *;

/* 공통 레이아웃  */

.breakpoint-mark {
  position: absolute;
  right: 10px;
  bottom: 30px;
  &::before {
    padding: 8px 12px;
    content: '';
    color: #fff;
  }
}
@include sm {
  .breakpoint-mark::before {
    content: 'sm';
    background: red;
  }
}
 
@include md {
  .breakpoint-mark::before {
    content: 'md';
    background: green;
  }
}
 
@include lg {
  .breakpoint-mark::before {
    content: 'lg';
    background: blue;
  }
}
 
@include xl {
  .breakpoint-mark::before {
    content: 'xl';
    background: orangered;
  }
}