
$font-path: './../fonts/';


@font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Regular"),
	url(#{$font-path} + "noto-sans-kr-v27-korean-regular.woff2") format('woff2'),
	url(#{$font-path} + "noto-sans-kr-v27-korean-regular.woff") format('woff');
	font-weight: 400;
	font-style: normal ;
}

  
  /*기본 bold*/
  @font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Medium"),
	url(#{$font-path} + "noto-sans-kr-v27-korean-500.woff2") format('woff2'),
	url(#{$font-path} + "noto-sans-kr-v27-korean-500.woff") format('woff');
	font-weight: 500;
	font-style: normal;
  }
  
  /*bold */
  @font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Bold"),
	url(#{$font-path} + "noto-sans-kr-v27-korean-700.woff2") format('woff2'),
	url(#{$font-path} + "noto-sans-kr-v27-korean-700.woff") format('woff');
	font-weight: 700;
	font-style: normal;
  }


body {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
}


.font-1 {
    font-family: "Noto Sans KR";
    font-weight: 400;
	color: purple;
}

.font-2 {
    font-family: "Noto Sans KR";
    font-weight: 500;
}

.font-3 {
    font-family: "Noto Sans KR";
    font-weight: 700;
}

.font-4 {
    font-family: "Roboto";
    font-weight: 700;
}
