@use "sass:math";

/************************************************** 
  @mixin ellipsis : 말 줄임 처리
  사용법
  @include ellipsis(3); 
**************************************************/
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; // 공백 없을때 글자 짤림 방지
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@keyframes aniLazyload {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }  
}

@mixin lazyload($duration: 1s) {
  animation: aniLazyload $duration forwards;
}


/************************************************** 
  @mixin btnIcon : before icon content 
  사용법
  @include btnIcon($img: '/images/ico.png'); 또는
  @include btnIcon($img: '/images/ico.png') {
      margin-right: 8px;
  };
**************************************************/

@mixin btnIcon($where: 'before', $img: null) {
  position: relative;
  display: inline-flex;
  align-items: center;  
  @if ($where == 'after') {
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      margin-left: 4px;
      background: url($img) no-repeat center;
      @content;
    }
  } @else {
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background: url($img) no-repeat center;
      @content;
    }
  }
}


/************************************************** 
  @mixin avatar : square, circle
  사용법
  @include avatar(100px, $circle: false);
  @include avatar(100px, $circle: true);
**************************************************/
@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: math.div($size, 2);
  }
}

/************************************************** 
  @mixin triangle : 삼각형
  사용법
  @include triangle(10px, red, right);
  @include triangle(8px, #999, right);
**************************************************/
@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: math.div($size, 2);

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}


/************************************************** 
  @mixin make-animation : 애니메이션 속성/값과, @keyframes 생성 @keyframes는 선택자 밖에 생성됨
  사용법
  @include inline-animation(10s linear forwards) {
    from { background-color: yellow }
    to { background-color: red }
  }

**************************************************/
@mixin make-animation($args...) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content;
  }
  animation: $name $args;
}


/************************************************** 
  @mixin prefix : 벤더프리픽스 생성
  사용법
  @include prefix(filter, grayscale(50%), moz webkit);
**************************************************/
$known-prefixes: webkit, moz, ms, o;

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if not index($known-prefixes, $prefix) {
      @warn "Unknown prefix #{$prefix}.";
    }
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}


/* 스크롤바 디자인 변경 사용:  @extend %scrollbar; */
%scrollbar {
  scrollbar-color: #e6e6e6 #fff; /* firefox */
  scrollbar-width: thin;/* firefox */
  &::-webkit-scrollbar-track{
    width: 46px;
  }
  &::-webkit-scrollbar {
    width: 18px;  /* 스크롤바의 너비 */
    height: 18px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    border: solid 6px #fff;
    background-color: #d9d9d9;
  }
}

/* 미디어쿼리 */
$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px ){
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}
 
@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}
 
@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}
 
@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}
 
@mixin xl {
  @media (min-width: #{$breakpoint-lg + 1}) {
    @content;
  }
}
 