
/* 
* px -> rem 변환 1 
* 사용법:  toRem(12)
*/
@function toRem($value) {
  $property: ($value / 16) + rem;
  @return $property;
}

/* 
* px -> rem 변환 2
* 사용법:  rem(10)
*/
// @function rem($size) {
//   @return $size / $baseSize#{rem};
// }


/* 
* px -> rem 변환 3
* 사용법:  rem(10px 5px)
*/
$rem-baseline: 16px !default;

@function rem($values...) {
  $result: (); // 리턴할 값 (리스트 또는 맵)

  @each $value in $values {
    // px 단위일 때만 변환
    @if type-of($value) == "number" and unit($value) == "px" {
      // 값이 한 개 이고 px 단위 일 때
      $result: append($result, calc($value / $rem-baseline) + 0rem, space);
    } @else if type-of($value) == "list" {
      // 값이 list 일때 반복
      $value: rem($value...);
      $result: append($result, $value, space);
    } @else {
      // 단위가 없거나, rem 일때는 그대로 출력
      $result: append($result, $value, space);
    }
  }
  @return $result;
}